# Use VITE prefix if you want to expose the variable to Client-side (browser)
# Otherwise, it will only be available in Server-side (e.g., vite.config.ts)
# For example, you can use VITE_DEV_PORT in your Vue components
# and DEV_PORT in your vite.config.ts


# Environment
VITE_NODE_ENV="development"
VITE_NODE_ENV_PRODUCTION="production"
VITE_NODE_ENV_DEVELOPMENT="development"
VITE_USE_MOCK="false"


# URLs
VITE_URL_API="https://example.com/api/v.1"
VITE_URL_ADMIN="https://example.com"
VITE_URL_USER="https://example.com"
